body {
  font-family: 'Ubuntu', sans-serif;
}

* {
  padding-left: 0; 
}

a:hover {
  text-decoration: none;
}

/* HEADER */

header {
  text-align: center;
  background: #333333;
  padding-top: 5px;
  padding-bottom: 1px;
}

h1 {
  font-size: 4em;
  color: #fff;
}

h2 {
  font-size: 3em;
  padding-bottom: 10px;
  color: #fff;
}

/* NAVIGATION BAR */

nav {
  padding-top: 5px;
  padding-left: 0;
}

nav a {
  font-size: 2em;
  padding: 0 5px;
  color: #fff;
}

p {
  font-size: 14px;
}

.selected {
  color: #ddd;
  pointer-events: none;
  font-weight: bold;
  cursor: default;
}

/* Content */

.content {
  max-width: 70%;
  margin: 25px auto;
}




.image_box {
  width: 90%;
  margin: 5%;
  float: left;
  background-color: #eee;
}

.two_collumn {
  width: 40%;
}

.three_collumn {
  width: 23.33%
}

.image_box img {
  width: 100%;
}

.image_box p {
  text-align: center;
  color: #555;
}

#jump_up {
  text-align: center;
  line-height: 0%;
}

/* FOOTER */


footer, #jump_up {
  text-align: center;
  color: #999;
  clear: both;
  padding-top: 25px;
}

/* Two-Sided Layout */

.left_side, .right_side {
  float: left;
  display: inline;
  width: 40%;
}

.right_side {
  float: right;
}

.right_side img {
  border: 2px solid #000;
  width: 100%;
}

.right_side ul li {
  list-style: none;
  padding: 3px 0;
}