{% extends "layout.html" %}

{% block content %}
<div class = "content">
  <div class = "left_side">
    <h3>About</h3>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt ex sit amet elit laoreet ornare. Fusce interdum leo vel elit commodo, et aliquet dui sodales. Suspendisse ipsum nunc, porttitor non purus sed, elementum malesuada tortor. Ut id turpis a tellus bibendum pellentesque. Praesent finibus varius turpis. Morbi posuere gravida massa vitae euismod. Mauris eu purus fermentum, pellentesque enim sit amet, sagittis est. Aliquam fermentum odio a urna cursus faucibus. Phasellus feugiat, tortor vitae laoreet vestibulum, nulla nisl pharetra felis, in faucibus felis turpis ac quam. Pellentesque finibus ut lorem vel mattis. Cras iaculis sapien efficitur tellus consectetur, non mattis magna posuere. Morbi massa elit, semper vel lorem vel, aliquam pharetra purus. Suspendisse a volutpat metus.</p>
  </div>
  <div class = "right_side">
    <img src = "/static/images/insert_here.png" alt = "about_photo" class = "img-circle">
  </div>
</div>
{% endblock %}